body{
    margin: 0%;
    font-family: 'Spline Sans Mono', monospace;
}
h1{
    font-size: 80px;
    font-family: 'Spline Sans Mono', monospace;
}
p{
    font-size: 30px;
    
}
.namehighlight{
    color: rgb(4, 250, 4);
}
h3{
    font-size: 40px;
    color: blue;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;

}
.top-banner{
    background-image: url("developer-portfolio/top-banner.png") ;
   background-repeat: no-repeat;
   image-resolution: 200px;
}
section{
    height: 50px;
}
.link-button{
    font-size: 30px;
    text-decoration: none;
    background-color: aqua;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 700;
}